*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(IMG_9132.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.contact-info,
.contact-form {
    width: 50%;
    padding: 20px;
}

.contact-info h2,
.contact-form h2 {
    margin-bottom: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info-item img {
    width: 30px;
    margin-right: 10px;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 150px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width:120px;
    cursor: pointer;
}


.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position:relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width:100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:#fff;
    opacity: 0; /* initially hidden */
    animation: fadeIn 3s ease forwards; /* fade-in animation with 3 seconds duration */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loaded .content {
    opacity: 1; /* reveal content when loaded class is added */
}


.content h1{
   font-size:70px;
   margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}


.navbar,
.logo {
    opacity: 0; /* initially hidden */
    animation: fadeIn 3s ease forwards; /* fade-in animation with 3 seconds duration */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loaded .navbar,
.loaded .logo {
    opacity: 1; /* reveal elements when loaded class is added */
}